body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-left {
    margin: 0;
    font-size: 24px;
}

.title-center {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.login-container, .admin-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    gap: 10px;
}

.nav-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-content {
    padding: 10px 0;
}

.card-content h3 {
    margin: 0;
    font-size: 20px;
}

.card-content p {
    margin: 5px 0;
    color: #666;
}

.error-message {
    color: red;
    margin-top: 10px;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#search-input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-left: 20px;
}



/* Estilo del contenedor del chat */
.chat-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de la caja de mensajes del chat */
.chat-box {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo de los mensajes dentro del chat */
.chat-message {
    margin-bottom: 10px;
}

.chat-message.user {
    text-align: right;
}

.chat-message.ai {
    text-align: left;
}

/* Estilo del input de chat */
#chat-input {
    width: calc(100% - 60px);
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilo del botón de enviar */
#send-button {
    width: 50px;
    padding: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}
